@import '../../assets/abstract/variables';

.page-content{
    padding: 30px 100px;
    .form-row{
        text-align: center;
    }
    textarea{
        width: 100%;
        margin-bottom: 40px;
        max-height: 160px;
        color: $primary-blue;
    }
}