
<div class="page-content modal-contribute" *ngIf="questionType === 'MODAL'">
    <div class="navigation">
        <a class=button-back routerLink="/questions"></a>
    </div>
    <div class="flex-wrapper">
            <box-item title="Sa slikom" (onClick)="changeType('PICTURE')"></box-item>
            <box-item title="Samo pitamnje sa odgovorom" (onClick)="changeType('REGULAR')"></box-item>
    </div>

</div>

<div class="page-content contribute" *ngIf="questionType === 'PICTURE'">
    <div class="navigation">
        <a class=button-back routerLink="/questions"></a>
    </div>
    <form #questionImageForm="ngForm" enctype="multipart/form-data" (submit)="questionImageForm.valid && onFormSubmit(questionImageForm)">
        <div class="form-row column">
            <label for="upload" class="blue-heading">{{ selectedImage ? '' : 'Izaberite sliku'}}</label>
            <input type="file" #upload id="upload" name="image" [(ngModel)]="selectedImage" (ngModelChange)="onImageChange()"  style="visibility: hidden;" required [(ngModel)]="selectedImage"/>
        </div>
        <div class="form-row">
            <div class="form-row-input">
                <label for="" class="blue-heading">A</label>
                <input name="letter_a"
                       type="text"
                       required
                       [(ngModel)]="newQuestion.letter_a"
                       [ngClass]="{'form-submitted': questionImageForm.submitted}">
            </div>
            <div class="form-row-input">
                <label for="" class="blue-heading">B</label>
                <input name="letter_b"
                       type="text"
                       required
                       [(ngModel)]="newQuestion.letter_b"
                       [ngClass]="{'form-submitted': questionImageForm.submitted}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-row-input">
                <label for="" class="blue-heading">C</label>
                <input name="letter_c"
                       type="text"
                       required
                       [(ngModel)]="newQuestion.letter_c"
                       [ngClass]="{'form-submitted': questionImageForm.submitted}">
            </div>
            <div class="form-row-input">
                <label for="" class="blue-heading">D</label>
                <input name="letter_d"
                       type="text"
                       required
                       [(ngModel)]="newQuestion.letter_d"
                       [ngClass]="{'form-submitted': questionImageForm.submitted}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-row-input">
                <label for="" class="blue-heading">Odgovor</label>
                <ng-select name="correct_letter"
                           [items]="items"
                           required
                           [clearable]="false"
                           [(ngModel)]="newQuestion.correct"
                           [ngClass]="{'form-submitted': questionImageForm.submitted}">
                </ng-select>
            </div>
            <div class="form-row-input">
                <label for="" class="blue-heading">Kategorija</label>
                <ng-select name="category"
                           [items]="categories"
                           bindLabel="title"
                           bindValue="value"
                           required
                           [clearable]="false"
                           [(ngModel)]="selectedCategory"
                           [ngClass]="{'form-submitted': questionImageForm.submitted}">
                </ng-select>
            </div>
        </div>
        <button class="button-submit" [disabled]="questionImageForm.invalid">Posalji</button>
    </form>
</div>

<div class="page-content" *ngIf="questionType === 'REGULAR'">
<a class=button-back routerLink="/questions"></a>
    <form action="" #questionForm="ngForm" (submit)="questionForm.valid && onFormSubmit(questionForm)">
        <div class="form-row column">
            <label for="" class="blue-heading">Pitanje</label>
            <textarea name="question"
                      cols="30" 
                      rows="10" 
                      required
                      [(ngModel)]="newQuestion.question_text"></textarea>
        </div>
        <div class="form-row">
            <div class="form-row-input">
                <label for="" class="blue-heading">A</label>
                <input name="letter_a" 
                        type="text"
                        required
                        [(ngModel)]="newQuestion.letter_a"
                        [ngClass]="{'form-submitted': questionForm.submitted}">
            </div>
            <div class="form-row-input">
                <label for="" class="blue-heading">B</label>
                <input name="letter_b" 
                        type="text"
                        required
                        [(ngModel)]="newQuestion.letter_b"
                        [ngClass]="{'form-submitted': questionForm.submitted}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-row-input">
                <label for="" class="blue-heading">C</label>
                <input name="letter_c" 
                      type="text"
                      required
                      [(ngModel)]="newQuestion.letter_c"
                      [ngClass]="{'form-submitted': questionForm.submitted}">
            </div>
            <div class="form-row-input">
                <label for="" class="blue-heading">D</label>
                <input name="letter_d" 
                       type="text"
                       required
                       [(ngModel)]="newQuestion.letter_d"
                       [ngClass]="{'form-submitted': questionForm.submitted}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-row-input">
                <label for="" class="blue-heading">Odgovor</label>
                <ng-select  name="correct_letter" 
                            [items]="items" 
                            required
                            [(ngModel)]="newQuestion.correct" 
                            [clearable]="false"
                            [ngClass]="{'form-submitted': questionForm.submitted}">
                </ng-select>
            </div>
            <div class="form-row-input">
                <label for="" class="blue-heading">Kategorija</label>
                <ng-select  name="category" 
                            [items]="categories"
                            bindLabel="title"
                            bindValue="value" 
                            required
                            [clearable]="false"
                            [(ngModel)]="selectedCategory"
                            [ngClass]="{'form-submitted': questionForm.submitted}">
                </ng-select>
            </div>
        </div>
        <button class="button-submit" [disabled]="questionForm.invalid">Posalji</button>
    </form>
</div>