
<div class="shop {{centerContent}}">
    <div class="heading-image"></div>
    <div class="shop-body">
        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091180&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>10</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091188&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>50</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091193&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>100</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091198&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>500</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38089933&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>1000</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091206&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>10000</span>
            </div>
        </a>
    </div>
</div>
