form {
    display: flex;
    flex-direction: column;

    input {
        height: 35px;
    }

    button {
        align-self: center;
    }
}

.button-yellow{
    &.false{
        filter: grayscale(1);
    }
}