<div class="login">
    <div class="login-form-wrapper dropdown-menu">
        <div class="logo-wrapper">
            <img src="../../../assets/images/logo.png" class="logo-img" alt="Kvizcina" />
        </div>
        
        <form class="login-form" #loginForm="ngForm" (submit)="loginForm.valid && onSubmit()">
            <div class="form-row column">
                  
                    <div class=" z-10">
                        <label class="">Email</label>
                    </div>
                    <div class=" mb-20 z-9">
                        <input name="email" 
                        type="email"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+"
                        [(ngModel)]="login.email"
                        required
                        [ngClass]="{'form-submitted': loginForm.submitted}" /> 
                    </div>
                    <div class=" z-8">
                        <label class="">Lozinka</label>
                    </div>
                    <div class=" mb-20 z-7">
                        <input name="password" 
                        required
                        type="password"
                        [(ngModel)]="login.password"
                        [ngClass]="{'form-submitted': loginForm.submitted}"/>
                    </div>
                          
                    <button class="button-yellow submit z-6" type="submit" name="submit" [ngClass]="{'button-gray': loginForm.invalid}">Uloguj se</button>
                    <div class="z-5">
                        <a routerLink='/register' class="button-yellow-medium link z-5">Napravi nalog</a>  
                        <a routerLink='/reset' class="button-yellow-medium link z-5">Resetuj lozinku</a> 
                    </div>

            </div>
            
        <button class="button-yellow facebook" type="button" title="In development" (click)="facebookSignin()">Login with Facebook</button>
        </form>

    </div>
</div>
<!-- <div class="login">

</div> -->
