<!-- <div class="login">
    <div class="login-form-wrapper">
        <div class="pirate-form-wrapper">
            <div class="pirate-form-heading-image"></div>
            <form class="login-form" #loginForm="ngForm" (submit)="loginForm.valid && onSubmit()">
                <div class="form-row column">
                      
                        <div class=" z-10">
                            <label class="">Email</label>
                        </div>
                        <div class=" mb-20 z-9">
                            <input name="email" 
                            type="email"
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+"
                            [(ngModel)]="login.email"
                            required
                            [ngClass]="{'form-submitted': loginForm.submitted}" /> 
                        </div>
                        <div class=" z-8">
                            <label class="">Lozinka</label>
                        </div>
                        <div class=" mb-20 z-7">
                            <input name="password" 
                            required
                            type="password"
                            [(ngModel)]="login.password"
                            [ngClass]="{'form-submitted': loginForm.submitted}"/>
                        </div>
                              
                        <button class="button-primary submit z-6" type="submit" name="submit" [ngClass]="{'button-gray': loginForm.invalid}">Uloguj se</button>
                        <div class="z-5">
                            <a routerLink='/register' class="button-primary">Napravi nalog</a>  
                            <a routerLink='/reset' class="button-primary">Resetuj lozinku</a> 
                        </div>
    
                </div>
                
            <a class="button-wood" type="button" title="In development" (click)="facebookSignin()">
                <img src="../../../assets/images/new-theme/facebook-btn.png" />
            </a>
            </form>
        </div>


    </div>
</div>
 <div class="login">

</div> --> 
<div class="pirate-login centralize {{centerLogin}}">
    <div class="pirate-login-wrapper ">
        <img class="heading-image" src="../../../assets/images/pirate-theme/headings/heading.png" />
        <div class="pirate-login-form-wrapper">
            <div class="inner">
                <form class="login-form" #loginForm="ngForm" (submit)="loginForm.valid && onSubmit()">
                    <div class="form-row column">
                          
                   <p class="form-heading">Ulogujte se</p>
                            <div class=" mb-20 d-flex">
                                <input name="email" 
                                type="email"
                                placeholder="Email"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+"
                                [(ngModel)]="login.email"
                                required
                                [ngClass]="{'form-submitted': loginForm.submitted}" /> 
                            </div>
                            <div class=" mb-20 d-flex">
                                <input name="password" 
                                required
                                placeholder="password"
                                type="password"
                                [(ngModel)]="login.password"
                                [ngClass]="{'form-submitted': loginForm.submitted}"/>
                            </div>
                            <button class="button-primary submit z-6" type="submit" name="submit" [ngClass]="{'button-gray': loginForm.invalid}">Uloguj se</button>
                                <a routerLink='/register' class="button-danger">Napravi nalog</a>  
                                <a routerLink='/reset' class="button-danger mt-2">Resetuj lozinku</a> 
                
        
                    </div>
                </form>
            </div>
        </div>
    </div>
   
</div>
