.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    perspective: 1000px;
    position: relative;
    justify-content: flex-start;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
}

.animation-plane {
    width: 80px;
    height: 45px;
    position: absolute;
    right: -100px;
    top: 200px;
    background-image: url('../../../assets/images/plane.png');
    background-size: 100% 100%;
    animation: airplane 16s ease-in infinite;
}

@keyframes airplane {
    0% {
        transform: rotateZ(0deg) rotateY(-8deg);
        right: -100px;
        width: 80px;
        height: 45px;

    }

    10% {
        transform: rotateZ(0deg) rotateY(0deg);
        width: 110px;
        height: 62px;
    }

    20% {
        right: 100%;
        width: 110px;
        height: 62px;
    }

    30% {
        transform: rotateY(180deg);
        right: 100%;
    }

    40% {
        transform: rotateY(180deg);
    }

    50% {
        transform: rotateY(180deg);
        width: 110px;
        height: 62px;
    }

    60% {
        transform: rotateY(180deg);
        right: -110px;
        width: 80px;
        height: 45px;
    }

    100% {
        right: -110px;
    }
}


.dropdown-menu {
    top: 0;
    animation: dropdown-login 1.2s ease-out;
}

.wood-btn {
    z-index: 100;

    &:hover {
        color: #000;
    }
}

.link {
    display: flex;
    text-align: center;
}

.submit {
    margin-top: -10px !important;
}

.logo-wrapper {
    margin: 50px 0;
    display: inline-flex;
    position: relative;
    z-index: 100;

    &::before,
    &::after {
        content: '';
        display: inline-flex;
        position: absolute;
        top: 10px;
        width: 200px;
        z-index: -1;
        height: 10px;
        background-image: url('../../../assets/images/new-theme/rope.png');
        background-size: 100% 100%;
        transform-origin: 0 0;
    }

    &::before {
        left: 10px;
        transform: rotate(-90deg);
    }

    &::after {
        right: 30px;
        transform-origin: 103% 100%;
        transform: rotate(92deg);
    }

}

form {
    input {
        height: 40px;
        width: 80%;
        margin-bottom: 30px;
        border-radius: 5px;
        background-color: rgb(192, 109, 1);
        // background-image: url('../../../assets/images/new-theme/question-board.png') !important;
        // background-size: 100% 100%;
        // background-color: transparent;;
        border: 3px solid rgb(170, 97, 1);
        padding: 0px 15px;
        font-size: 18px;
        color: #fff;

    }
}