<div class="login">
    <div class="login-form-wrapper">
        <div class="logo-wrapper">
            <img src="../../../assets/images/logo.png" class="logo-img" alt="Kvizcina" />
        </div>
        
        <form class="login-form" #loginForm="ngForm" (submit)="loginForm.valid && onSubmit()">
            <div class="form-row column">
                  
                    <div class=" z-10">
                        <label class="">Email</label>
                    </div>
                    <div class=" mb-20 z-9">
                        <input name="email" 
                        type="email"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+"
                        [(ngModel)]="login.email"
                        required
                        [ngClass]="{'form-submitted': loginForm.submitted}" /> 
                    </div>
                    <div class=" z-8">
                        <label class="">Lozinka</label>
                    </div>
                    <div class=" mb-20 z-7">
                        <input name="password" 
                        required
                        type="password"
                        [(ngModel)]="login.password"
                        [ngClass]="{'form-submitted': loginForm.submitted}"/>
                    </div>
                          
                    <button class="button-wood submit z-6" type="submit" name="submit" [ngClass]="{'button-gray': loginForm.invalid}">
                        <img src="../../../assets/images/new-theme/login-btn.png" />
                    </button>
                        
                    <div class="z-5">
                        <a routerLink='/register' class="button-wood link z-5">
                            <img src="../../../assets/images/new-theme/create-account-btn.png" />
                        </a>  
                        <a routerLink='/reset' class="button-wood link z-5">
                            <img  src="../../../assets/images/new-theme/reset-password.png"/>
                        </a> 
                    </div>

            </div>
            
        <a class="button-wood" type="button" title="In development" (click)="facebookSignin()">
            <img src="../../../assets/images/new-theme/facebook-btn.png" />
        </a>
        </form>

    </div>
</div>
<!-- <div class="login">

</div> -->
