.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    perspective: 1000px;
    position: relative;
    justify-content: flex-start;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;

    .column{
        align-items: center;

        input,
        div{
            width: 100%;
        }
    }
}


.facebook{
    min-height: 40px;
    margin-top: 25px;
} 



.dropdown-menu {
    top: 0;
    animation: dropdown-login 1.2s ease-out;
}

// .button-yellow {
//     z-index: 100;

//     &:hover {
//         color: #000;
//     }
// }

.link {
    display: flex;
    text-align: center;
}

.submit {
    margin-top: -10px !important;
}

.logo-wrapper {
    margin: 40px 0 20px 0;
    display: inline-flex;
    position: relative;
    z-index: 100;

    &::before,
    &::after {
        content: '';
        display: inline-flex;
        position: absolute;
        top: 10px;
        width: 200px;
        z-index: -1;
        height: 10px;
        background-image: url('../../../assets/images/new-theme/rope.png');
        background-size: 100% 100%;
        transform-origin: 0 0;
    }

    &::before {
        left: 10px;
        transform: rotate(-90deg);
    }

    &::after {
        right: 30px;
        transform-origin: 103% 100%;
        transform: rotate(92deg);
    }

}

form {

    background-image: url('../../../assets/images/new-theme/notification-big.svg');
    background-size: 100% 100%;
    background-position-x: 50%;
    padding: 40px;
    background-repeat: no-repeat;
    input {
        height: 40px;
        width: 80%;
        margin-bottom: 30px;
        border-radius: 5px;
        background-color: rgb(192, 109, 1);
        // background-image: url('../../../assets/images/new-theme/question-board.png') !important;
        // background-size: 100% 100%;
        // background-color: transparent;;
        border: 3px solid rgb(170, 97, 1);
        padding: 0px 15px;
        font-size: 18px;
        color: #fff;

    }
}