@mixin background {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}



@mixin box-shadow {
    -webkit-box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.62);
    box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.62);
}

@mixin box-shadow-red {
    -webkit-box-shadow: 0px 0px 25px -4px rgba(228, 74, 74, 0.62);
    box-shadow: 0px 0px 25px -4px rgba(228, 74, 74, 0.62);
}

@mixin box-shadow-red-small {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(228, 74, 74, 0.62);
    box-shadow: 0px 0px 20px 0px rgba(228, 74, 74, 0.62);
}

@mixin box-shadow-medium {
    -webkit-box-shadow: 0px 0px 30px 3px rgba(228, 74, 74, 0.72);
    box-shadow: 0px 0px 30px 3px rgba(228, 74, 74, 0.72);
}

@mixin box-shadow-big {
    -webkit-box-shadow: 0px 0px 35px 6px rgba(228, 74, 74, 0.82);
    box-shadow: 0px 0px 35px 6px rgba(228, 74, 74, 0.82);
}