$input-border-color: rgb(216, 216, 216);
$approved-green: rgb(0, 136, 68);
$pending-yellow: rgb(255, 213, 57);
$denied-red: rgb(194, 0, 0);
$primary-blue:rgb(2, 104, 151);
$secondary-blue:rgb(3, 125, 182);
$primary-yellow: rgb(255,204,64);
$secondary-yellow: rgb(228, 129, 0);
$primary-braon: rgb(73, 33, 0);
$primary-background: rgb(20, 20, 20);
$headerHeight: 63px;

$color-modal-background: rgba(0, 0, 0, 0.8);