@import '../abstract/variables';

.color-white {
    color: #fff;
}

.page-content {
    width: 100%;
    height: 100%;
}

.play-new {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: $primary-background;
    height: 100%;


    button {
        padding: 20px;
        width: 300px;
        height: 120px;
        display: flex;
        font-size: 35px;
        cursor: pointer;
        color: #fff;
        border: none;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 127, 185);

        &:hover {
            background-color: rgb(2, 104, 151);
            margin-top: -3px;
        }
    }

}

.blue-text,
.blue-heading,
.heading-big,
.yellow-text,
.yellow-heading {
    color: $secondary-blue;
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}

.heading-big {
    color: #fff;
    font-size: 35px;
}

.yellow-text,
.yellow-heading {
    color: $secondary-yellow;
    font-size: 18px;
    font-weight: 600;
}

.blue-heading,
.yellow-heading {
    font-size: 28px;
}

.blue-heading-big,
.yellow-heading-big {
    font-size: 2rem;
    color: $secondary-yellow;
}

.blue-heading-big {
    color: $primary-blue;
}

.info-button {
    display: inline-flex;
    width: 24px;
    height: 24px;
    position: relative;
    margin: 0px 8px;
    cursor: pointer;
    opacity: .9;

    &:hover {
        opacity: 1;
    }

    &::before {
        content: '!';
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        border-radius: 50%;
        align-items: center;
        background-color: $primary-blue;
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
    }

    .info-box {
        width: auto;
        min-width: 300px;
        padding: 10px;
        border-radius: 5px;
        display: inline-flex;
        background-color: $primary-blue;
        color: #fff;
        position: absolute;
        font-weight: 400;
        top: 105%;
        left: -100px;
    }
}

.inline-center {
    display: inline-flex;
    align-items: center;
}

.feedback-message {
    display: none;
    position: absolute;
    top: 0px;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 5px;

    &.false {
        display: block;
        background-color: red;
        color: #fff;
    }

    &.true {
        display: block;
        background-color: rgb(3, 146, 70);
        color: #fff;
    }
}

.flex-wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.dropdown-menu{
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 100px;
    left: 50%;
    transform: translateX(-50%) rotateX(0deg);
    transform-origin: 0 0;
    background-position: 50% 50%;
    animation: dropdown 1.2s ease-out;

    button,
    input,
    .wood-btn{
        position: relative;

        &::before,
        &::after{
            content: "";
            display: inline-block;
            position: absolute;
            background-color: transparent;
            width: 40px;
            height: 10px;
            background-image: url('../../assets/images/new-theme/rope.png');
            background-size: 10px 10px;
        }
        &::before{
            left: 15px;
            top: 15px;
            transform-origin: 0;
            transform: rotate(-90deg);
        }
        &::after{
            top: 15px;
            right: 15px;
            transform-origin: 100%;
            transform: rotate(90deg);
        }
    }

    button:first-child,
    .wood-btn:first-child{
        position: relative;
        &::before,
        &::after{
            content: "";
            display: inline-block;
            position: absolute;
            background-color: transparent;
            width: 600px;
            height: 10px;
            background-image: url('../../assets/images/new-theme/rope.png');
            background-size: contain;
        }
        &::before{
            left: 15px;
            top: 15px;
            transform-origin: 0;
            transform: rotate(-90deg);
        }
        &::after{
            top: 15px;
            right: 15px;
            transform-origin: 100%;
            transform: rotate(90deg);
        }
    }

    &.close{
        top: -520px;
        animation: dropdown-hide .5s ease-out !important;
    }

    .items{
        width: 100%;
        height: 100%;
        position: relative;
    }

}


@keyframes dropdown {
    0%{
        top: -520px;
    }
    100%{
        top: -115px;
    }
}

@keyframes dropdown-hide {
    0%{
        top: -115px;
    }
    100%{
        top: -520px;
    }
}

@keyframes dropdown {
    0%{
        top: -520px;
        transform: rotateX(-5deg) translateX(-50%);
    }

    50%{
        top: 100px;
        transform: rotateX(0deg) translateX(-50%);
    }

    60%{
        top: 100px;
        transform: rotateX(25deg) translateX(-50%);
    }

    70%{
        top: 100px;
        transform: rotateX(-20deg) translateX(-50%);
    }

    80%{
        top: 100px;
        transform: rotateX(10deg) translateX(-50%);
    }

    90%{
        top: 100px;
        transform: rotateX(-5deg) translateX(-50%);
    }

    100%{
        top: 100px;
        transform: rotateX(0deg) translateX(-50%);
    }
}

@keyframes dropdown-login {
    0%{
        top: -520px;
        transform: rotateX(-5deg) translateX(-50%);
    }

    20%{
        top: 0px;
        transform: rotateX(0deg) translateX(-50%);
    }

    40%{
        top: 0px;
        transform: rotateX(25deg) translateX(-50%);
    }

    60%{
        top: 0px;
        transform: rotateX(-20deg) translateX(-50%);
    }

    80%{
        top: 0px;
        transform: rotateX(10deg) translateX(-50%);
    }

    90%{
        top: 0px;
        transform: rotateX(-5deg) translateX(-50%);
    }

    100%{
        top: 0px;
        transform: rotateX(0deg) translateX(-50%);
    }
}

.wood-btn.link{
    display: flex !important;
    align-items: center;
    &:before,
    &::after{
        content: "";
        display: inline-block;
        position: absolute;
        background-color: transparent;
        width: 600px;
        cursor: auto;
        height: 10px;
        background-image: url('../../assets/images/new-theme/rope.png');
        background-size: contain;
    }

}