
.pirate{

    &-login,
    &-profile{
        width: 90%;
        height: 100%;
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;


        &-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 370px;
            width: 90%;
            height: auto;
            padding-top: 25px;
            .heading-image{
                width: 115%;
                height: auto;
                margin-bottom: -53px;
            }

           
        }

        &-form-wrapper{
            position: relative;
            width: 100%;
            padding-top: calc(100% * 1.38);
            background-image: url('../images/pirate-theme/popups/board-with-bomb.png');
            background-size: contain;

            .inner{
                padding: 55px 70px 100px 70px;
                overflow-y: auto;
            }

            form{
                display: flex;
                flex-direction: column;
                align-items: center;

                .mt-2{
                    margin-top: 15px;
                }
            }
        }
    }

    &-play{
        &-form-wrapper{
            position: relative;
            width: 100%;
            padding-top: calc(100% * 1.68);
            background-image: none;
            background-size: contain;

            .inner{
                padding: 10px 0px 30px 0px;
                display: flex;
                flex-direction: column;
                .button-yellow{
                    margin-bottom: 5px !important;
                    height: 67px;
                    cursor: pointer;
                }

                .button-primary{
                    padding: 3vw 8.5vw 3.5vw 8.5vw;
                }

                button:hover{
                    color: red !important;
                }
            }

            form{
                display: flex;
                flex-direction: column;
                align-items: center;

                .mt-2{
                    margin-top: 15px;
                }
            }
        }
    }

    &-profile{
        &-form-wrapper{
            position: relative;
            width: 100%;
            padding-top: calc(100% * 1.48);
            background-image: none;
            background-size: contain;

            .inner{
                padding: 10px 0px 30px 0px;
                display: flex;
                flex-direction: column;
                .button-yellow{
                    margin-bottom: 5px !important;
                    height: 67px;
                    cursor: pointer;
                }

                .button-primary{
                    padding: 3vw 8.5vw 3.5vw 8.5vw;
                }

                button:hover{
                    color: red !important;
                }
            }

            form{
                display: flex;
                flex-direction: column;
                align-items: center;

                .mt-2{
                    margin-top: 15px;
                }
            }
        }
    }
    
    &-form-heading-image{
        width: 100%;
        height: 80px;
        background-image: url('../images/pirate-theme/headings/heading.png');
        background-size: 100% auto;
    }
    &-form-wrapper{
        width: 100%;
        form{
            flex-direction: column;
            min-height: 500px;
            padding: 45px 45px 100px 45px;
            background-image: url('../images/pirate-theme/popups/board-with-bomb.png');
            background-size: 100% auto;
            background-position-x: 50%;
            background-repeat: no-repeat;
        }
        display: flex;
        flex-direction: column;

    }
}

.footer-wood{
    height: 40px;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top:20px;
    background-image: url('../images/pirate-theme/headings/footer-wood.png');
    background-size: 100% 100%;
    
}

@media only screen and (min-width: 300px) and (max-width: 450px){
    .heading-image{
        
    }

    .pirate{
        &-login{
            &.true{
                justify-content: center;
            }
    
            &-wrapper{
             
                .heading-image{
                    width: 115%;
                    margin-bottom: -36px;
                    margin-left: -7px;
                }
    
               
            }
    
            &-form-wrapper{
    
                .inner{
                    padding: 30px 30px 100px 30px;
                }
    
                form{
                    .d-flex{
                        justify-content: center;
                    }
                    input{
                        max-width: 185px;
                        align-self: center;
                    }
                    .mt-2{
                    }

                    .submit{
                        margin-top: 10px;
                    }
                }
            }
        }
        
        &-form-heading-image{
        }
        &-form-wrapper{
            form{
            }
    
        }
    }
}