@import '../abstract/mixins';
@import '../abstract/variables';

* {
    box-sizing: border-box;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
    letter-spacing: 3px;
}


body {
    font-family: 'Heebo', sans-serif;
    background-color: $primary-background;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    font-size: 100%;
    margin: 0;
    padding: 0;

}

a{
    color: #fff;
    &:hover{
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5 {
    margin: 8px 0;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 50px;
}

h2 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 45px;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 40px;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
}

h5 {
    font-size: 1.3rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

input,
textarea {
    border: none;

    &:focus {
        border: none;
        outline: none;
    }
}

button {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 91, 119);
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}