<div class="room" *ngIf="tableReady">
    <img class="banner" src="../../../assets/images/pirate-theme/headings/tournament.png"/>
    <div class="buttons-wrapper">
        <button class="button button-danger" *ngIf="root">KOD: {{ room }}</button>
        <button class="button-primary"
                (click)="startTournament()">Igraj</button>
    </div>
   
    <div class="table">
       
        <div class="inner">
            <div class="user" *ngFor="let user of roomUsers">
                <div class="image" [ngStyle]="{'background-image': 'url(' + user.avatar + ')'}"></div>
                <div class="user-details">
                    <p>{{ user.name }}</p>
                </div>
            </div>
        </div>
       
    </div>
</div>