@import '../../../assets/abstract/variables';

.friends-list-popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: $color-modal-background;


    .friends-list {
        width: 280px;
        height: 350px;

        .user-item{
            margin-bottom: 3px;
        }
    }


    .heading,
    .body,
    .footer {
        padding: 10px;
        width: 100%;
        background-image: url('../../../assets/images/new-theme/question-board.png');
        background-size: 100% 100%;
    }

    .heading {
        height: 40px;
        text-align: center;
        font-weight: 900;
        color: rgb(82, 47, 23);
    }

    .body {
        height: 250px;
        overflow-y: auto;
        background-size: 100% 130%;
        background-position: 0 -20px;
    }

    .footer {
        height: 60px;
        display: flex;
        justify-content: flex-end;

        button:last-child {
            margin-left: 15px;
        }

        .button-primary{

            &.disabled{
                
                filter: grayscale(1);
            }
        }
    }
}




.banner {
    width: 95%;
    width: 330px;
    display: inline-block;
    margin: 0 auto;
    z-index: 100;
    margin-bottom: -36px;
    align-self: center;
}

.button-list {
    width: 35px;
    margin-left: 5px;
    height: 35px;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 105, 190);
    border-radius: 5px;

    &:hover {
        opacity: .8;
    }

    p {
        width: 60%;
        height: 3px;
        background-color: #fff;
    }

}


.room {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    .buttons-wrapper {
        position: absolute;
        display: inline-flex;
        margin: 0 auto;
        align-items: center;
        top: 110px;
        z-index: 600;

        button {
            margin: 0px;

            &:first-child {
                &:hover {
                    background-image: url('../../../assets/images/pirate-theme/buttons/Button_Red_Normal.png');
                }
            }

            &:last-child {
                margin-left: -5px;
            }
        }
    }

    h5 {
        text-align: center;
    }

    .table {
        width: 300px;
        height: 450px;
        position: relative;
        background-image: url('../../../assets/images/pirate-theme/popups/Pop_Up_Leaderboard.png');
        background-size: 100% 100%;



        .inner {
            width: 100%;
            height: 100%;
            padding: 30px 20px 60px 20px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            .user {
                display: flex;
                align-items: center;
                padding: 2px 10px 2px 5px;
                border-radius: 18px;
                color: #fff;
                background-color: rgba(109, 44, 0, 1);

                .image {
                    width: 25px;
                    height: 25px;
                    margin-right: 15px;
                    background-size: cover;
                    border-radius: 50%;
                    overflow: hidden;
                }

                .user-details {
                    display: flex;
                    width: calc(100% - 55px);
                    flex-direction: column;
                }
            }
        }
    }
}