<div class="friend-list">
    <ng-container *ngIf="(friends$ | async) as friendArr">
        <ng-container *ngIf="friendArr.length > 0; else noFriends">
            @for(friend of friendArr; track friend){
                <div class="friend">
                    <button class="x-remove" (click)="removeFriend(friend)">X</button>
                    <span class="avatar" [ngStyle]="{'background-image': 'url(' + friend.avatar_url + ')'}"></span>
                    <p>Name: <span>{{ friend.name }}</span></p>
                    <p>Status: <span class="status" [class.online]="friend.online">{{ friend.online ? 'online' : 'offline'}}</span></p>
                </div>
            }
        </ng-container>

    </ng-container>
</div>
<div class="find-friends">
    <input name="find-friends" placeholder="Find people" [(ngModel)]="search" (ngModelChange)="search$.next($event)"/>
    <div class="users">
        <ng-container *ngIf="(searchFriendsList$ | async ) as users">
            @for(user of users; track user){
                <user-item [user]="user" (onBtnClick)="sendRequest(user)" [online]="user.online" btnLabel="Send request"></user-item>
            }
        </ng-container>
       
    </div>
</div>
<ng-template #noFriends>
    <h2>No friens found</h2>
</ng-template>