
<div class="pirate-login centralize {{centerLogin}}">
    <div class="pirate-login-wrapper ">
        <img class="heading-image" width="auto" height="350" src="../../../assets/images/pirate-theme/headings/heading.png" />
        <div class="pirate-login-form-wrapper">
            <div class="inner">
                <form class="login-form" #registerForm="ngForm" 
                (submit)="registerForm.valid && register.password === register.repeatPassword && onSubmit()">
               <div class="form-row column">
                <p class="form-heading">Napravi nalog</p>
                       <input name="email" 
                              type="email"
                              placeholder="Email"
                              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+"
                              [(ngModel)]="register.email"
                              required
                              [ngClass]="{'form-submitted': registerForm.submitted}" />   
                       <input name="password" 
                              required
                              [min]="6"
                              placeholder="Lozinka"
                              type="password"
                              [(ngModel)]="register.password"
                              [ngClass]="{'form-submitted': registerForm.submitted}"/>
                       <input name="repeatPassword" 
                              required
                              [min]="6"
                              placeholder="Ponovi lozinku"
                              type="password"
                              [(ngModel)]="register.repeatPassword"
                              [ngClass]="{'form-submitted': registerForm.submitted}"/>
                      
                       <button class="button-primary submit" 
                               name="submit" 
                               [disabled]="registerForm.invalid || register.password !== register.repeatPassword">Nastavi</button>

                                <a routerLink='/' class="button-danger">Uloguj se</a>

                               
               </div>
           </form>
            </div>
        </div>
    </div>
   
</div>
