@import '../../../assets/abstract/variables';

.searching-players {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;

    .searching {
        width: 250px;
        height: 250px;
        justify-content: space-between;
        align-items: center;
        display: flex;

        p {
            color: $primary-braon;
            font-size: 32px;
        }

        &.founded {
            position: relative;

            .options {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 100%);
                display: flex;
                width: auto;
            }
        }

        .animated {
            height: 100%;
            width: 80px;
            overflow: hidden;
            position: relative;

            .avatar {
                position: absolute;
                left: 50%;

                &.founded {
                    animation: none;
                }

                &-2 {
                    transform: translate(-50%, - 50%) scale(1);
                    top: 50%;
                    background-size: 102% 102%;
                    border: 4px solid rgb(4, 127, 136);
                    animation: avatars 3s linear infinite;
                }

                @keyframes avatars {
                    0% {
                        background-image: url('../../../assets/images/pirate-theme/avatars/avatar-1.png');
                    }

                    10% {
                        background-image: url('../../../assets/images/pirate-theme/avatars/avatar-2.png');
                    }

                    20% {
                        background-image: url('../../../assets/images/pirate-theme/avatars/avatar-3.png');

                    }

                    30% {
                        background-image: url('../../../assets/images/pirate-theme/avatars/avatar-4.png');
                    }

                    40% {
                        background-image: url('../../../assets/images/pirate-theme/avatars/avatar-5.png');

                    }

                    50% {
                        background-image: url('../../../assets/images/pirate-theme/avatars/avatar-6.png');
                    }

                    60% {
                        background-image: url('../../../assets/images/pirate-theme/avatars/avatar-7.png');
                    }

                    70% {
                        background-image: url('../../../assets/images/pirate-theme/avatars/avatar-8.jpeg');
                    }

                    80% {
                        background-image: url('../../../assets/images/pirate-theme/avatars/avatar-9.jpeg');
                    }

                    90% {
                        background-image: url('../../../assets/images/pirate-theme/avatars/avatar-10.png');
                    }

                }

            }
        }

        .avatar {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-position: center center;
            background-size: 102% 102%;
            border: 4px solid rgb(82, 39, 4);
            background-color: brown;
        }
    }
}