<div class="rankings">
    <a class=button-back routerLink="/profile"><i class="fas fa-backward"></i></a>
    <div class="filters">
        <h4 class="heading-big">Rezultat: </h4>
        <span class="filter-button" 
              (click)="onSelectFilter(filter)"
              [ngClass]="{'selected': filter.selected}" 
              *ngFor="let filter of filters">{{ filter.label }}</span>
    </div>
        <div class="table">
            <div class="thead">
                <div class="tr">
                    <div class="th w-10">#</div>
                    <div class="th w-40">Ime</div>
                    <div class="th w-20">Rezultat</div>
                    <div class="th w-20">Odigrao/la</div>
                </div>
            </div>
            <div class="tbody contribute">
                <div class="tr" *ngFor="let player of rankedPlayers">
                    <div class="td w-10">1</div>
                    <div class="td w-40">{{ player.name }}</div>
                    <div class="td w-20">{{ player.score }}</div>
                    <div class="td w-20">in development</div>
                </div>
            </div>
        </div>

   
</div>
