.rankings{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .filters{
        padding: 5px;
        width: 100%;
        display: flex;
        margin-top: 70px;
        h4{
            font-weight: 600;
        }
        .filter-button{
            padding: 5px 10px;
            display: inline-block;
            border-radius: 5px;
            margin: 2px 4px;
            background-color: rgb(2, 104, 151);
            color: #fff;
            font-size: 24px;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:hover{
                background-color: rgb(0, 64, 94);
            }
        }

        .selected{
            background-color: rgb(0, 64, 94);
        }
    }
}