

<div class="page-content questions-wrapper">
    <p class="amount">Ukupno({{questions.length}})</p>
    <p class="question-tabs"><span [ngClass]="filterStatus === '' ? 'active': ''" (click)="filter(''); load()">Sva </span>
        <span [ngClass]="filterStatus === 'NA CEKANJU' ? 'active': ''" (click)="filter('NA CEKANJU')">Na cekanju </span>
        <span [ngClass]="filterStatus === 'ODOBRENO' ? 'active' : ''" (click)="filter('ODOBRENO')">Odobreno</span></p>
    <div class="table questions-table">
        <a [routerLink]="[question._id]" *ngFor="let question of questions;">
        <p class="question-item" >
            <span class="icon">?</span>
            <span class="question-text">{{ question.question }}</span>
            <span class="status {{ question.status}}"></span>
        </p>
        </a>
    </div>
</div>
