<div class="spinner" *ngIf="spinner">
    <h1>
        <p class="image"></p>
        <p class="loading-bar" [ngStyle]="{'width': loadingPercent + '%'}"></p>
        <p class="loading-text">Ucitava se</p>
    </h1>
</div>

<div class="content" [ngClass]="{'expand': !isLogged}">
    <div class="modal-game-results" [ngClass]="{'open': gameResults.showModal}" *ngIf="gameResults.showModal">
        <div *ngIf="gameResults.success && !gameResults.noQuestions">
            <h3>Cestitamo, osvojili ste {{ gameResults.results }} poen/a</h3>
        </div>
        <div *ngIf="!gameResults.success && !gameResults.noQuestions">
            <h3>Niste osvojili poen, pokusajte ponovo</h3>
            <img src="../assets/images/new-theme/sad-emoji.png" width="200" height="200"/>
        </div>
        <div *ngIf="gameResults.noQuestions">
            <h3>Nema pitanja u bazi</h3>
        </div>
    </div>
    <div class="user-header" *ngIf="isLogged">
        <div class="left-info">
            <a [ngStyle]="{'background-image': 'url(' + user.avatar_url + ')'}" routerLink="/settings"></a>
        </div>
        <div class="right-info">
            <p class="reset-timer" *ngIf="showLivesTimer && lives_timer_delay">{{ minutesString }}:{{secondsString}}</p>
            <p><span class="hearth-life" *ngFor="let life of lives"></span></p>
            <p class="user-chest"><span class="user-chest-icon {{resetAvailable}}"
                      (click)="resetAvailable && openDailyReward()"></span>
            </p>
            <p class="user-score"><span class="user-score-icon"></span><span>{{ user.score }}</span></p>
            <p class="user-ticket"><span class="user-ticket-icon"></span><span>{{ user.tickets }}</span></p>
        </div>
    </div>
    
        <div class="scrollable-area" [ngClass]="{'not-logged': !isLogged}">
            <div class="notification" *ngIf="showFeedback" [ngClass]="successFeedback ? 'success' : 'error'">
                <span>{{ feedbackMessage }}</span>
            </div>
            <div class="daily-reward-rulet" *ngIf="dailyModal">
                <p class="title">Dnevna nagrada</p>
                <p class="reward-image"> <img src="../assets/images/ic_ticket.svg" alt=""> x 1</p>
                <button class="wood-btn" (click)="claimDailyReward()">Ok</button>
            </div>
            <router-outlet></router-outlet>
        </div>
</div>
