
<div class="spinner" *ngIf="spinner">
    <h1>UCITAVA SE</h1>
</div>

<div class="content" [ngClass]="{'expand': !isLogged}">
    <div class="user-header" *ngIf="isLogged">
        <div class="left-info">
            <span>User: {{ user.name }}</span>
        </div>
        <div class="right-info">
            <p><span class="hearth-life" *ngFor="let life of lives"></span></p>
            <p class="user-score"><span class="user-score-icon"></span><span>{{ user.score }}</span></p>
           
        </div>
    </div>
    <div class="modal-game-results" [ngClass]="{'open': gameResults.showModal}" *ngIf="gameResults.showModal">
        <div *ngIf="gameResults.success && !gameResults.noQuestions">
            <h3>Cestitamo, osvojili ste {{ gameResults.results }} poen/a</h3>
        </div>
        <div *ngIf="!gameResults.success && !gameResults.noQuestions">
            <h3>Niste osvojili poen, pokusajte ponovo</h3>
        </div>
        <div *ngIf="gameResults.noQuestions">
            <h3>Nema pitanja u bazi</h3>
        </div>
    </div>
    <div class="scrollable-area">
            <router-outlet></router-outlet>
    </div>

</div>



