@import '../assets/abstract/variables';

.spinner {
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #fff;
    }
}

.modal-game-results {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0;
    background-color: rgb(255, 204, 64);
    z-index: 10000;
    backdrop-filter: blur(2px);
    transition: all .2s linear;

    h3 {
        text-align: center;
        color: #fff;
        -webkit-text-stroke: 2px $primary-blue;
        font-weight: 600;
    }
}

.open {
    height: 100vh;
}

.navigation,
.header,
.content {}


.header {
    width: 100%;
    margin: 0;
    height: 50px;
    background-color: rgb(255, 255, 255);
    list-style: none;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    background-color: rgb(0, 102, 255);

    li {

        a {
            padding: 16px;
            text-align: center;
            cursor: pointer;
            color: #fff;
            display: inline-block;
            white-space: nowrap;
            overflow-x: hidden;

            &:hover {
                background-color: rgb(0, 58, 146);
            }
        }

    }
}

.active-link {
    background-color: rgb(0, 58, 146);
}

.content {
    width: 100%;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
    background-color: #045da7;
}

.logout-button,
.logout-button a {
    background-color: red;
    color: #fff;

    &:hover {
        opacity: 1;
        background-color: rgb(219, 0, 0) !important;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
}


@keyframes arrow {
    0% {
        left: -30%;
    }

    50% {
        left: -10%;
    }

    100% {
        left: -30%;
    }
}

.expand {
    padding-top: 0 !important;
}

.play-link {
    display: inline-block;
    position: relative;
    transition: all .2s linear;

    &:before {
        content: '->';
        display: inline-block;
        font-size: 30px;
        color: yellow;
        font-weight: 600;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: -10px;
        animation: arrow 1s ease-in-out infinite;
    }
}