@import '../abstract/mixins';
@import '../abstract/variables';
// @import url("//db.onlinewebfonts.com/c/17e1555f8a6e076b12c1a74322e77e09?family=Jungle+Fever+NF");
// @import url('//fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');

@font-face {
    font-family: "Jungle Fever NF";
    src: url("//db.onlinewebfonts.com/t/17e1555f8a6e076b12c1a74322e77e09.eot");
    src: url("//db.onlinewebfonts.com/t/17e1555f8a6e076b12c1a74322e77e09.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/17e1555f8a6e076b12c1a74322e77e09.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/17e1555f8a6e076b12c1a74322e77e09.woff") format("woff"), url("https://db.onlinewebfonts.com/t/17e1555f8a6e076b12c1a74322e77e09.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/17e1555f8a6e076b12c1a74322e77e09.svg#Jungle Fever NF") format("svg");
}

* {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
    letter-spacing: 3px;
}



* {
    font-family: 'Jungle Fever NF', 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 2px;
}

::placeholder {
    color: #fff;
}

body {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;

}


.text-white {
    color: #fff;
}

p {
    margin: 3px 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 8px 0;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 50px;
}

h2 {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 45px;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 40px;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
}

h5 {
    font-size: 1.3rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.question-font {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 1px;
}

.question-box-new{
    background-position: center;
    background-size: auto 100%;
}

input,
textarea {
    border: none;

    &:focus {
        border: none;
        outline: none;
    }
}

button {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 12px;
    background-image: url('../images/pirate-theme/reset/Scroll_Bar.png');
    background-size: 100% 100%;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: url('../images/pirate-theme/reset/Scroll_Bar_Roller.png');
    background-size: 100% 100%;
    border-radius: 20px;
}

/* Handle on hover */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px rgb(79, 49, 45) inset !important;
    -webkit-box-shadow: 0 0 0 30px rgb(79, 49, 45) inset !important;
    font-size: 20px;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    font-size: 20px;
}