<div class="prevented" *ngIf="(allowRoom | async) === false">
    <h3>Room does not exist</h3>
    <br/>
   <a #link (click)="onGoBack(link)">Go back</a>
</div>
<h2>Tournament participants</h2>
<div class="wrapper">
    <ng-container *ngIf="roomUsers$ | async as friends">
        <button class="primary small start-game" *ngIf="(roomCreatedByMyself$ | async) === true" [disabled]="friends.length <= 1" (click)="startTournament()">Play</button>
    </ng-container>
  
    <div class="tournament">
        <ng-container *ngIf="roomUsers$ | async as friends">
          
            <ng-container *ngIf="friends.length > 0">
                @for(friend of friends; track friend){
                    <user-item [showBtn]="false" [user]="friend" (onBtnClick)="invite(friend)" btnLabel="Invite"></user-item>
                }
            </ng-container>
        </ng-container>
      
    </div>

<div class="people">
    <ng-container *ngIf="friends$ | async as friends">
        <ng-container *ngIf="friends.length > 0; else empty">
            @for(friend of friends; track friend){
                <user-item [user]="friend" (onBtnClick)="invite(friend)" btnLabel="Invite"></user-item>
            }
        </ng-container>
    </ng-container>
    <ng-template #empty>
        <h3>Invite friends to tournament <button class="primary small" (click)="refresh()">Refresh</button> </h3>
    </ng-template>
</div>

</div>
