.room-results{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;

    .user{
        border: 2px solid black;
        border-radius: 6px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        font-weight: 900;
    }
}