.room-results {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;

    .user {
        border: 1px solid rgb(65, 29, 0);
        background-color: rgb(98, 52, 0);
        color: #fff;
        border-radius: 6px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 900;
        margin-bottom: 3px;

        .result-score{
            margin-right: 10px;
        } 
        
        .title {
            display: flex;
            align-items: center;
            height: 100%;

            &-score {
                width: 50px;
                height: 100%;
                background-size: 80% 80%;
                background-position: center center;
            }

            &-0 {
                background-image: url('../../../assets/images/pirate-theme/items/Cup_Gold.png');
            }

            &-1 {
                background-image: url('../../../assets/images/pirate-theme/items/Cup_Silver.png');
            }

            &-2 {
                background-image: url('../../../assets/images/pirate-theme/items/Cup_Bronze.png');
            }
        }
    }
}