@font-face {
    font-family: 'Just Bubble';
    src: url('JustBubbleRegular.woff2') format('woff2'),
        url('JustBubbleRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

