:host {
    width: 100%;
}

label {
    margin-bottom: 3px;
}

input,
textarea {
    margin-bottom: 1rem;
    padding: 0 .5rem;
}

button {
    align-self: flex-end;
}

textarea {
    padding: .5rem;
    min-height: 5rem;
    border: none;
    outline: none;
}

h2 {
    margin-bottom: .3rem;
}

p {
    color: gray;
}

select {
    padding: .5rem .4rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
}

form {
    margin-top: 3rem;
    max-width: 600px;
}