<div class="privacy-and-terms">
    <h1>Politika privatnosti</h1>

    <h3>Igra ne trazi nikakve osetljive podatke kojim bi ugrozila vasu sigurnost.
       Pored email adrese neophodne za registraciju, ostali licni podaci vam nece biti zatrazeni ni u jednom momentu.
    </h3>
    <h3>Igra ukljucuje odredjena polja koje mozete popuniti, ali su ona iskljucivo vezana za samu igru.
        ta polja su ime na profilu, promena lozinke itd.
    </h3>
    <a routerLink="/login">Zatvori dijalog</a>
</div>
