
<div class="page-content">
    <form action="">
        <div class="form-row">
            <div class="form-row-input">
                <label class="blue-heading">Titula</label>
                <input name="titula" type="text" />
            </div>
            <div class="form-row-input">
                <label class="blue-heading">Rezultat veci od</label>
                <input name="rezultat"  type="number"/>
            </div>
        </div>
        <button class="button-submit">Kreiraj</button>
    </form>
    <div class="table">
        <div class="thead">
            <div class="tr">
                <div class="th w-10">#</div>
                <div class="th w-40">Titula</div>
                <div class="th w-30">Rezultat veci od</div>
                <div class="th w-20 th-last">Opcije</div>
            </div>
        </div>
        <div class="tbody contribute">
            <div class="tr">
                <div class="td w-10">#</div>
                <div class="td w-40">Titula</div>
                <div class="td w-30">80</div>
                <div class="td w-20 td-last"><a class="delete-link">obrisi</a></div>
            </div>
        </div>
    </div>
    
</div>
