.page-content{
    padding: 30px 100px;
    .form-row{
        text-align: center;
    }
    textarea{
        width: 100%;
        margin-bottom: 40px;
    }
    label{
        margin-bottom: 8px;
        display: inline-block;
    }
}

form{
    margin-bottom: 30px;
}

.contribute{
    margin-bottom: 60px;
}