<div class="play-new" *ngIf="showModal && lives === 0">
  <div class="modal-play open">
    <h1>Nemate vise pokusaja</h1>
  </div>
</div>
<div class="play-game" *ngIf="showModal && lives > 0">
    <div class="navigation">
      <a class=button-back routerLink="/profile"></a>
    </div>
  <div
    class="dropdown-categories"
    [ngClass]="{ 'close-categories': playCategory }"
  >
    <div
      class="wood-btn geography"
      (click)="closeModal('GEOGRAFIJA', 'GEOGRAFIJA')"
    >
      <div>
        <span class="title">Geografija</span>
      </div>
    </div>
    <div
      class="wood-btn history locked"
      (click)="closeModal('ISTORIJA', 'GEOGRAFIJA')"
      [ngClass]="{ locked: !isCategoryAllowed('GEOGRAFIJA') }"
      data-unlock="Otvoreno nakon 10 dodatih pitanja iz Geografije"
    >
      <div>
        <span class="title">Istorija</span>
      </div>
    </div>

    <div
      class="wood-btn movies"
      (click)="closeModal('FILMOVI I SERIJE', 'ISTORIJA')"
      [ngClass]="{ locked: !isCategoryAllowed('ISTORIJA') }"
      data-unlock="Otvoreno nakon 10 dodatih pitanja iz Istorije"
    >
      <div>
        <span class="title">Filmovi i serije</span>
      </div>
    </div>

    <div
      class="wood-btn celebrity"
      (click)="closeModal('POZNATE LICNOSTI', 'FILMOVI I SERIJE')"
      [ngClass]="{ locked: !isCategoryAllowed('FILMOVI I SERIJE') }"
      data-unlock="Otvoreno nakon 10 dodatih pitanja iz Filmova i serija"
    >
      <div>
        <span class="title">Poznate licnosti</span>
      </div>
    </div>
    <div
      class="wood-btn sport"
      (click)="closeModal('SPORT', 'POZNATE LICNOSTI')"
      [ngClass]="{ locked: !isCategoryAllowed('POZNATE LICNOSTI') }"
      data-unlock="Otvoreno nakon 10 dodatih pitanja Poznatih licnosti"
    >
      <div>
        <span class="title">Sport</span>
      </div>
    </div>

    <div
      class="wood-btn others"
      (click)="closeModal('RAZNO', 'SPORT')"
      [ngClass]="{ locked: !isCategoryAllowed('SPORT') }"
      data-unlock="Otvoreno nakon 10 dodatih pitanja iz Sporta"
    >
      <div>
        <span class="title long-text">Pitanja drugih takmicara</span>
      </div>
    </div>
  </div>
</div>
<div class="game-box" *ngIf="!showModal && lives > 0">
  <div
    class="timer"
    *ngIf="!showModal"
    [ngStyle]="{ width: time * 6.6666 + '%' }"
  >
    <p class="timer-placeholder"></p>
  </div>
  <div class="question-box-wrapper">
    <div class="question-box-new" *ngIf="question.type === 'REGULAR'">
        <h6> {{ question.question }} </h6>
    </div>
    <div [ngStyle]="{'background-image': 'url(' + question.imageUrl + ')'}" class="question-box-new" *ngIf="question.type === 'PICTURE'">
     
  </div>
    <button class="wood-btn"
            *ngFor="let answer of question.answers"
        [ngClass]="{
        'disabled-button': questionSelected,
        'wrong-answer':questionSelected && question.correct_letter !== answer.letter && selectedLetter === answer.letter,
        'correct-answer': questionSelected && question.correct_letter === answer.letter}"
         (click)="!questionSelected && onSelectedAnswer(answer)">
        {{ answer.text }}
    </button>
    
  </div>
</div>
