<div class="pirate-login centralize {{centerLogin}}">
    <div class="pirate-login-wrapper ">
        <img class="heading-image" width="auto" height="350"
             src="../../../assets/images/pirate-theme/headings/heading.png" />
        <div class="pirate-login-form-wrapper">
            <div class="inner">
                <form class="login-form" #resetForm="ngForm" (submit)="resetForm.valid && onSubmit()">
                    <div class="form-row column">

                        <p class="form-heading">Email</p>
                        <input name="email"
                               type="email"
                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+"
                               [(ngModel)]="reset.email"
                               required
                               placeholder="Email"
                               [ngClass]="{'form-submitted': resetForm.submitted}" />

                        <p class="form-heading">Kod</p>
                        <input name="code"
                               type="text"
                               class="uppercase"
                               [(ngModel)]="reset.code"
                               required
                               placeholder="KOD"
                               [ngClass]="{'form-submitted': resetForm.submitted}" />

                        <p class="form-heading">Nova lozinka</p>
                        <input name="password"
                               type="password"
                               [(ngModel)]="reset.password"
                               required
                               placeholder="Lozinka"
                               [ngClass]="{'form-submitted': resetForm.submitted}" />

                        <p class="form-heading">Ponovi lozinku</p>
                        <input name="repeat"
                               type="password"
                               [(ngModel)]="reset.repeat"
                               required
                               placeholder="Lozinka"
                               [ngClass]="{'form-submitted': resetForm.submitted}" />

                        <button class="button-primary submit" name="submit"
                                [disabled]="resetForm.invalid || (reset.password !== reset.repeat)">Resetuj</button>
                        <a routerLink='/' class="button-danger">Uloguj se</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
