input,
p {
    font-size: 11px;
}

p {
    margin-bottom: 3px;
}

button{
  margin: 5px auto !important;
}

input {
    margin-bottom: 10px;
    height: 25px;
}

.uppercase {
    text-transform: uppercase;
}