.settings {
    width: 100%;
    height: calc(100vh - 140px);
    padding: 10px;
    background-color: #ECCD97;
    border: 3px solid brown;
    background-size: contain;
    text-align: center;
    padding: 20px;
    overflow-y: auto;
}

input[type="file"] {
    visibility: hidden;
}

.image-upload-label {
    background-color: transparent;
    padding: 5px 15px;
    border: 1px solid black;
    display: inline-flex;
    cursor: pointer;
}

form {
    justify-content: center;
    padding-top: 80px;

    input {
        border: none;
        border-bottom: 3px solid black;
    }
}

.form-row {
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 500px) {
        flex-direction: column;
    }

    &-input {

        @media screen and (max-width: 500px) {
            width: 100%;
        }
    }
}

.avatar-wrapper {
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 80px;
    justify-content: space-between;

    img {
        width: 100%;
        height: auto;
    }

    .item-border {
        width: 80px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.selected {
            border: 2px solid brown;
        }
    }
}