<div class="settings">
    <form #settingsForm="ngForm" (submit)="settingsForm.valid && onFormSubmit()">
    <div class="form-row">
        <div class="form-row-input">
            <label>Ime</label>
            <input name="name" required [(ngModel)]="settings.name"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-row-input">
            <label class="button-danger" for="image">Promeni sliku</label>
            <input #upload id="image" type="file" (ngModelChange)="onImageChange()"  name="image" [(ngModel)]="selectedImage" />
        </div>
    </div>
    <div class="avatar-wrapper">
        <ng-container *ngFor="let item of user?.shop_items; let i = index">
                            <span class="item-border border-1"
                                  (click)="settings.avatar_border = item"
                                  [class.selected]="settings.avatar_border === item">
                                                    <img *ngIf="item === shopItem.NATURE" src="../../../../assets/images/avatars/border-2.png"/>
                                                    <img *ngIf="item === shopItem.IRON_CROWN" src="../../../../assets/images/avatars/border-3.png" />
                                                    <img *ngIf="item === shopItem.MASTER" src="../../../../assets/images/avatars/border-rect-1.png" />
                                                    <img *ngIf="item === shopItem.PORTAL" src="../../../../assets/images/avatars/border-4.png" />
                                                    <img *ngIf="item === shopItem.SLIME" src="../../../../assets/images/avatars/border-rect-2.png" />
                                                    <img *ngIf="item === shopItem.REGULAR || !user.avatar_border"
                                                         src="../../../../assets/images/avatars/border-rect-1.png" />
                        </span>
        </ng-container>
    </div>
    <button class="button-primary" [disabled]="settingsForm.invalid">Sacuvaj</button>
    </form>
    <button class="button-danger" (click)="logout()">Izloguj se</button>
</div>