<div class="settings">
    <form #settingsForm="ngForm" (submit)="settingsForm.valid && onFormSubmit()">
    <div class="form-row">
        <div class="form-row-input">
            <label>Ime</label>
            <input name="name" required [(ngModel)]="settings.name"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-row-input">
            <label class="button-danger" for="image">Promeni sliku</label>
            <input #upload id="image" type="file" (ngModelChange)="onImageChange()"  name="image" [(ngModel)]="selectedImage" />
        </div>
    </div>
    <button class="button-primary" [disabled]="settingsForm.invalid">Sacuvaj</button>
    </form>
    <button class="button-danger">Izloguj se</button>
</div>