<div class="friends-list">
    <div class="search-bar">
        <label>PRONADJI</label>
        <input [(ngModel)]="searchQuery" (ngModelChange)="searchQueryStream.next($event)"/>
    </div>
    <div class="friend-tabs">
        <span (click)="selectedTab = 'PRIJATELJI'; getFriendsList()" [ngClass]="{'active': selectedTab === 'PRIJATELJI'}">Prijatelji</span>
        <span (click)="selectedTab = 'ZAHTEVI'; getFriendRequests()" [ngClass]="{'active': selectedTab === 'ZAHTEVI'}">Zahtevi</span>
        <span (click)="selectedTab = 'PRONADJI'; load()" [ngClass]="{'active': selectedTab === 'PRONADJI'}">Pronadji</span>
    </div>
    <div class="list">
        <ng-container *ngIf="selectedTab === 'PRIJATELJI'">
            <p class="friend" *ngFor="let friend of acceptedFriends">
                <span class="avatar" [ngStyle]="{'background-image': 'url(' + friend.avatar_url + ')'}"></span>
                <span class="friend-name">{{ friend.name }}</span>
                <button class="button-danger" (click)="removeFriend(friend._id)">Ukloni</button>
            </p>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'PRONADJI'">
            <p class="friend" *ngFor="let friend of friends">
                <span class="avatar" [ngStyle]="{'background-image': 'url(' + friend.avatar_url + ')'}"></span>
                <span class="friend-name">{{ friend.name }}</span>
                <button class="button-primary" *ngIf="!checkAddButton(friend._id)" (click)="sendFriendRequest(friend._id)">Dodaj</button>
                <span *ngIf="checkAddButton(friend._id)">Prijatelj</span>
            </p>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'ZAHTEVI'">
            <p class="friend" *ngFor="let friend of friendRequests">
                <span class="avatar" [ngStyle]="{'background-image': 'url(' + friend.avatar_url + ')'}"></span>
                <span class="friend-name">{{ friend.name }}</span>
                <button class="button-primary" (click)="acceptFriendRequest(friend._id)">Prihvati</button>
            </p>
        </ng-container>
      
    </div>
</div>
