<div class="friends-list">
    <div class="search-bar">
        <label>Pronadji</label>
        <input [(ngModel)]="searchQuery" (ngModelChange)="searchQueryStream.next($event)"/>
    </div>
    <div class="friend-tabs">
        <span (click)="selectedTab = 'Prijatelji'" [ngClass]="{'active': selectedTab === 'Prijatelji'}">Prijatelji</span>
        <span (click)="selectedTab = 'Zahtevi'; getFriendRequests()" [ngClass]="{'active': selectedTab === 'Zahtevi'}">Zahtevi</span>
        <span (click)="selectedTab = 'Pronadji'" [ngClass]="{'active': selectedTab === 'Pronadji'}">Pronadji</span>
    </div>
    <div class="list">
        <ng-container *ngIf="selectedTab === 'Prijatelji'">
            <p>Prihvaceni</p>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'Pronadji'">
            <p class="friend" *ngFor="let friend of friends">
                <span class="avatar" [ngStyle]="{'background-image': 'url(' + friend.avatar_url + ')'}"></span>
                <span class="friend-name">{{ friend.name }}</span>
                <button class="button-primary" (click)="sendFriendRequest(friend._id)">Dodaj</button>
            </p>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'Zahtevi'">
            <p class="friend" *ngFor="let id of user.friendRequests">
                <button class="button-primary" (click)="sendFriendRequest(id)">Prihvati</button>
            </p>
        </ng-container>
      
    </div>
</div>
