<div class="on-game-leave" *ngIf="gameLeaved">
    <p>Napustanjem igre gubite 1 zivot!!!</p>
    <div class="leave-body">
        <span>Trudite se da ne izlazite iz igre dok ona traje!</span>
    </div>
</div>
<div class="profile">
    <div class="dropdown-menu" [ngClass]="{'close': clicked}">
            <button (click)="onClick('/play')" class="button-yellow">Igraj</button>
            <button (click)="onClick('/questions')" class="button-yellow">Pitanja</button>
            <button (click)="onClick('/achievements')" class="button-yellow">Dostignuca</button>
            <button (click)="onClick('/ranking')" class="button-yellow">Tabela</button>
            <button (click)="logout()" class="button-yellow">Izloguj se</button>
    </div>
</div>
