@import '../../assets/abstract/mixins';
@import '../../assets/abstract/variables';


.on-game-leave {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    border-radius: 5px;

    p {
        background-color: red;
        padding: 20px;
        color: #fff;
        text-align: center;
        margin: 0;
        font-size: 22px;
        font-weight: 800;
    }

    .leave-body {
        padding: 20px;
        margin: 0;
        background-color: rgb(248, 198, 62);
        color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        span {
            font-size: 18px;
            font-weight: 800;
            text-align: center;
        }
    }
}


button {
    align-self: flex-start;
}

.profile {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;

    * {
        color: orange;
    }


    .image-url {
        display: flex;
        flex-direction: column;
        top: 100%;
        left: -50px;
        width: 300px;
        border-radius: 5px;

        input {
            height: 40px;
            border-radius: 5px;
            border: 1px solid gray;
            margin: 5px;
        }

        button {
            align-self: flex-end;
        }
    }

    .image-and-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 20px;
        align-self: flex-start;

        .image {
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            border-radius: 50%;
            border: 3px solid $primary-blue;
            position: relative;
            background-position: center;
            background-size: cover;
            cursor: pointer;

            p {
                cursor: pointer;
            }

        }

        .info {
            height: 100%;
            width: 100%;
            padding: 10px 30px;
        }
    }

    .profile-wrapper {
        width: 100%;
        padding: 40px;
        display: flex;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .box-item {
            margin-top: -100px;

            div {
                .title {
                    color: #fff;
                    font-size: 32px;
                }
            }
        }

        h2 {
            text-align: center;
            color: rgb(252, 206, 39);
            width: 100%;
            margin: 100px 0;
        }

        .row {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
            padding: 20px;

            .active {
                border-color: red;
            }

            &:last-child {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin: 0;
                padding: 20px;
                justify-content: space-between;

                a {
                    width: 250px;
                    text-decoration: none;
                    padding: 15px 0;
                    text-align: center;
                    font-size: 25px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    border-radius: 30px;
                    border: none;
                    color: #fff;
                    cursor: pointer;

                    &.btn {
                        &:hover {
                            border-color: red;
                            transform: translateY(-2px);
                        }
                    }

                    &.play {
                        background-color: rgb(252, 206, 39);
                        border-bottom: 5px solid rgb(151, 48, 76);
                    }

                    &.questions {
                        background-color: rgb(20, 199, 229);
                        border-bottom: 5px solid rgb(110, 54, 191);
                    }

                    &.table {
                        background-color: rgb(152, 227, 22);
                        border-bottom: 5px solid rgb(1, 88, 40);
                    }

                    &.help {
                        background-color: rgb(2, 106, 109);
                        border-bottom: 5px solid rgb(0, 28, 0);
                    }
                }
            }

            .info {
                margin-bottom: 30px;
            }

            span {
                display: inline-flex;
                align-items: center;
                font-size: 28px;
                color: #fff;
            }

            .bold {
                font-weight: 800;
            }

            i {
                font-size: 35px;
                display: inline-flex;
                align-items: center;
                margin-right: 30px;
                cursor: pointer;
                opacity: .8;

                &:hover {
                    opacity: 1;
                }
            }

            .fa-user-circle {
                color: rgb(20, 199, 229);
            }

            .fa-trophy {
                color: rgb(252, 206, 39);
            }

            .fa-medal {
                color: lightsalmon;
            }

            .fa-heart {
                color: red;
            }

            .fa-bell {
                color: lightgray;

            }

            .avatar {
                position: relative;

                div {
                    position: absolute;
                    left: 0;
                    top: 100%;
                    height: 50px;
                    display: inline-flex;
                    align-items: center;
                    z-index: 10000;
                    background-color: gray;
                    padding: 10px;
                    justify-content: space-between;

                    button {
                        margin: 0 5px;
                        height: 30px;

                    }

                    input {
                        height: 30px;
                        margin-right: 10px;
                    }
                }
            }

            .icon {
                display: inline-block;
                margin-right: 40px;
                color: #fff;
            }
        }
    }
}