@import '../../assets/abstract/mixins';
@import '../../assets/abstract/variables';

.profile{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    background-color: #fff;
    -webkit-box-shadow: -1px 3px 27px -3px #000000; 
    box-shadow: -1px 3px 27px -3px #000000;

    
    .image-url{
        display: flex;
        flex-direction: column;
        top: 100%;
        left: -50px;
        width: 300px;
        border-radius: 5px;

        input{
            height: 40px;
            border-radius: 5px;
            border: 1px solid gray;
            margin: 5px;
        }

        button{
            align-self: flex-end;
        }
    }
    
    .image-and-info{   
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 20px;
        align-self: flex-start;

        .image{
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            border-radius: 50%;
            border: 3px solid $primary-blue;
            position: relative;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            p{
                cursor: pointer;
            }

        }

        .info{
            height: 100%;
            width: 100%;
            padding: 10px 30px;
        }
    }
}