@import '../../assets/abstract/mixins';
@import '../../assets/abstract/variables';

.profile{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    background-color: #fff;
    -webkit-box-shadow: -1px 3px 27px -3px #000000; 
    box-shadow: -1px 3px 27px -3px #000000;
    
    .image-and-info{   
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 20px;
        align-self: flex-start;

        .image{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 1px solid gray;
        }

        .info{
            height: 100%;
            width: 100%;
            padding: 10px 30px;
        }
    }
}