<ng-container *ngIf="user$ | async as user">
    <div class="profile">
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
        <p>IMAGE URL: <input name="name" placeholder="Image url" [(ngModel)]="imageUrl" (change)="onChange()"/></p>
        <p>NAME: <input name="name" [(ngModel)]="nameChange" (change)="onChange()"/></p>
        <p>EMAIL: {{ user.email }}</p>
        <!-- <div>
            <span>ROLES: </span> 
            @for(role of user.roles; track role){
                <span>{{ role }}</span>
            }
           
        </div> -->
    </div>
</ng-container>
