<div class="shop {{centerContent}}">
    <div class="shop-body">
        <h4 class="mx-auto">Ram za sliku</h4>
        <div class="shop-item-new">
            <img class="border" src="../../assets/images/avatars/border-2.png" />
            <span>Prirodnjak</span>
            <button class="button-primary" (click)="buyItem(shopItem.NATURE)">10 x <img
                     src="../../assets/images/ic_ticket.svg"></button>
        </div>
        <div class="shop-item-new">
            <img class="border" src="../../assets/images/avatars/border-3.png" />
            <span>Poglavica</span>
            <button class="button-primary" (click)="buyItem(shopItem.IRON_CROWN)">10 x <img
                     src="../../assets/images/ic_ticket.svg"></button>
        </div>
        <div class="shop-item-new">
            <img class="border" src="../../assets/images/avatars/border-rect-2.png" />
            <span>Ljiga</span>
            <button class="button-primary" (click)="buyItem(shopItem.SLIME)">20 x <img
                     src="../../assets/images/ic_ticket.svg"></button>
        </div>
        <div class="shop-item-new">
            <img class="border" src="../../assets/images/avatars/border-4.png" />
            <span>Vestica</span>
            <button class="button-primary" (click)="buyItem(shopItem.PORTAL)">50 x <img
                     src="../../assets/images/ic_ticket.svg"></button>
        </div>
        <div class="shop-item-new">
            <img class="border" src="../../assets/images/avatars/border-rect-1.png" />
            <span>Lep ko slika</span>
            <button class="button-primary" (click)="buyItem(shopItem.MASTER)">100 x <img
                     src="../../assets/images/ic_ticket.svg"></button>
        </div>
        <div class="shop-item-new">
            <img class="border" src="../../assets/images/avatars/border-5.gif" />
            <span>Legenda</span>
            <button class="button-primary" (click)="buyItem(shopItem.ADMIN)">2000 x <img
                     src="../../assets/images/ic_ticket.svg"></button>
        </div>
        <h4 class="mx-auto">Dodaci</h4>
        <div class="shop-item-new life">
            <img class="border" src="../../assets/images/ic_heart.png" />
            <span>1 Zivot</span>
            <button class="button-primary" (click)="buyItem(shopItem.LIFE_X_1)">18 x <img
                     src="../../assets/images/ic_ticket.svg"></button>
        </div>
        <div class="shop-item-new life">
            <img class="border" src="../../assets/images/ic_heart.png" />
            <span>2 Zivota</span>
            <button class="button-primary" (click)="buyItem(shopItem.LIFE_X_2)">30 x <img
                     src="../../assets/images/ic_ticket.svg"></button>
        </div>
        <div class="shop-item-new life">
            <img class="border" src="../../assets/images/ic_heart.png" />
            <span>3 Zivota</span>
            <button class="button-primary" (click)="buyItem(shopItem.LIFE_X_3)">40 x <img
                     src="../../assets/images/ic_ticket.svg"></button>
        </div>
        <!-- <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091180&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>10</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091188&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>50</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091193&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>100</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091198&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>500</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38089933&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>1000</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091206&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>10000</span>
            </div>
        </a>
    </div> -->
    </div>
