
<div class="shop {{centerContent}}">
    <div class="heading-image"></div>
    <div class="shop-body">
        <h4 class="mx-auto">Avatar borders</h4>
        <div class="shop-item-new">
            <img class="border" src="../../assets/images/avatars/border-2.png" />
            <span>Prirodnjak</span>
            <button class="button-primary">Kupi za 10 <img src="../../assets/images/ic_ticket.svg"></button>
        </div>

        <div class="shop-item-new">
            <img class="border" src="../../assets/images/avatars/border-3.png" />
            <span>Poglavica</span>
            <button class="button-primary">Kupi za 10 <img src="../../assets/images/ic_ticket.svg"></button>
        </div>

        <div class="shop-item-new rare">
            <img class="border" src="../../assets/images/avatars/border-4.png" />
            <span>Vestica</span>
            <button class="button-primary">Kupi za 50 <img src="../../assets/images/ic_ticket.svg"></button>
        </div>

        <div class="shop-item-new epic">
            <img class="border" src="../../assets/images/avatars/border-rect-1.png" />
            <span>Lep ko slika</span>
            <button class="button-primary">Kupi za 100 <img src="../../assets/images/ic_ticket.svg"></button>
        </div>
        <!-- <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091180&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>10</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091188&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>50</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091193&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>100</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091198&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>500</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38089933&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>1000</span>
            </div>
        </a>

        <a class="shop-item" href="https://secure.2checkout.com/order/checkout.php?PRODS=38091206&QTY=1&CART=1&CARD=1">
            <div class="inner">
                <img src="../../assets/images/ic_ticket.svg" />
                <span>x</span>
                <span>10000</span>
            </div>
        </a>
    </div> -->
</div>
