<div class="tournaments">
    <div class="dropdown-menu" [ngClass]="{'close': clicked}">
            <button (click)="createRoom()" class="button-yellow">Kreiraj Turnir</button>
            <button (click)="roomInput = !roomInput" class="button-yellow">Udji na turnir</button>
            <div *ngIf="roomInput">
                <form #roomform="ngForm" (ngSubmit)="roomform.valid && joinRoom()">
                    <input name="roomName" placeholder="Sifra turnira" type="text" required [(ngModel)]="enterRoom" />
                    <button type="button-primary submit">Udji na turnir</button>
                </form>
            </div>
            <button class="button-yellow">Globalni turniri</button>
            <a class="button-yellow" routerLink="/play">Nazad</a>
    </div>
</div>