<div class="privacy-and-terms">
    <h1>Uslovi koriscenja</h1>
    <h2>Restrikcija pitanja</h2>
    <h3>Ovaj kviz omogucava svim ucesnicima u igri da objave sopstvena pitanja.
        Pitanja ne smeju sadrzati pogrdne reci, kao i odgovor koji nije tacan. Pitanja prolaze
        proveru, ali u slucaju namernih zlonamernih pitanja, nalog ce biti deaktiviran
    </h3>
    <h3>Igra je za sve ljubitelje kvizova i pored "restrikcije za pitanja" vise nema nikakvih ogranicenja</h3>
    <h3>Igru koristine na takav nacin da vama bude interesantna.</h3>
    <a routerLink="/login">Zatvori dijalog</a>
</div>
