@import '../../assets/abstract/variables';

.approved,
.pending,
.denied {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 13px;
    min-width: 90px;
    text-align: center;
}

.approved {
    background-color: $secondary-blue;
    color: #fff;
}

.publish {
    margin-right: 8px;
}

.pending {
    background-color: $pending-yellow;
    color: rgb(5, 5, 5);
}

.denied {
    background-color: $denied-red;
    color: #fff;
}

.navigation {
    display: flex;
}

.contribute {
    height: calc(100vh - 235px);
    overflow-y: auto;
}


.button-contribute {
    z-index: 10000;
    top: 5px;
    padding: 5px;
    margin-left: 15px;
    height: 50px;
    background-color: rgb(0, 187, 109);
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}

.question-details {
    border-top: 1px solid lightgray;
    width: 100%;
    padding: 0px 30px;

    textarea {
        margin-bottom: 10px;
        width: 100%;
    }
}

.page-content {
    overflow-y: hidden;

    a {
        align-self: flex-start;
    }
}

.table {
    margin-top: 25px;

    .tbody {
        .tr:last-child {
            margin-bottom: 50px;
        }
    }
}