@import '../../assets/abstract/variables';

.approved,
.pending,
.denied {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 13px;
    min-width: 90px;
    text-align: center;
    color: #fff;
}

.answer-text {
    @media screen and (max-width: 1060px) {
        color: rgb(255, 255, 255) !important;
    }
}


.approved {
    background-color: $approved-green;


    @media screen and (min-width: 1060px) {
        background-color: $secondary-blue;
        color: #fff;
    }
}

.publish {
    margin-right: 8px;
}

.pending {
    background-color: $pending-yellow;
    color: rgb(5, 5, 5);
}

.denied {
    background-color: $denied-red;
    color: #fff;
}


.contribute {
    height: calc(100vh - 235px);
    overflow-y: auto;
}

.question-details {
    border-top: 1px solid lightgray;
    width: 100%;
    padding: 0px 30px;

    textarea {
        margin-bottom: 10px;
        width: 100%;
    }

    p {
        font-weight: 700;
    }
}

.page-content {
    overflow-y: hidden;

    a {
        align-self: flex-start;
    }
}

.filter {
    display: inline-flex;
    padding: 0px 3px;
    width: 100%;
    max-width: 420px;
    justify-content: space-between;

    span {
        background-color: $secondary-blue;
        color: #fff;
        padding: 3px 5px;

        &.active {
            background-color: $primary-blue;
        }
    }
}


.table {
    background-color: rgb(31, 31, 31);
    border: 6px solid rgb(91, 53, 23);
    border-radius: 8px;
    margin-top: 5px;
    width: 95%;
    height: calc(100vh - 210px) !important;

    .tbody {
        height: auto;

        .thead {
            .tr {
                display: none !important;

                @media screen and (min-width: 1060px) {
                    display: flex;
                }
            }
        }

        .tr:last-child {
            margin-bottom: 50px;
        }
    }
}