<div class="friend online-{{ user.online }}" (click)="onSelectChange()">
    <div class="checkbox" *ngIf="shouldShow('checkbox')">
        <p class="selected {{selected}}" (click)="showButton && onSelectChange()"></p>
    </div>
    <div class="user size-{{size}}" [ngStyle]="{'background-color': shouldShow('bg-off') && 'transparent'}">
            <span class="ranking-number" *ngIf="shouldShow('ranking')">{{ ranking }}. </span>
            <span class="user-avatar fire-avatar" *ngIf="shouldShow('avatar')">
                <img *ngIf="user.avatar_border === shopItem.ADMIN" src="../../../../assets/images/avatars/border-5.gif" />
                <img *ngIf="user.avatar_border === shopItem.NATURE" src="../../../../assets/images/avatars/border-2.png" />
                <img *ngIf="user.avatar_border === shopItem.IRON_CROWN" src="../../../../assets/images/avatars/border-3.png" />
                <img *ngIf="user.avatar_border === shopItem.MASTER" src="../../../../assets/images/avatars/border-rect-1.png" />
                <img *ngIf="user.avatar_border === shopItem.PORTAL" src="../../../../assets/images/avatars/border-4.png" />
                <img *ngIf="user.avatar_border === shopItem.SLIME" src="../../../../assets/images/avatars/border-rect-2.png"/>
                <img *ngIf="user.avatar_border === shopItem.REGULAR || !user.avatar_border" src="../../../../assets/images/avatars/border-rect-1.png" />
                <span class="avatar" [ngStyle]="{'background-image': 'url(' + user.avatar_url + ')'}"></span>
            </span>
            <span class="friend-name" *ngIf="shouldShow('name')">{{ user.name }}</span>
            <span class="score" *ngIf="shouldShow('score')">{{ user.score }}</span>
            <button class="button-primary" *ngIf="shouldShow('delete')"
                    (click)="onButtonClick.emit(user)">{{ buttonText }}</button>
    </div>
</div>
