<div class="searching-players" *ngIf="!bothAccepted">
    
    <div class="searching" *ngIf="!joined">
        <p class="online-users">online <span>{{online}}</span></p>
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + user.avatar_url + ')'}"></div>
        <p>VS</p>
        <div class="animated">
            <div class="avatar avatar-2"></div>
        </div>
        <div class="options">
            <button class="buton button-danger" (click)="onExit()">Izadji</button>
        </div>
    </div>

    <div class="searching founded" *ngIf="joined">
        <p class="online-users">online: <span>{{online}}</span></p>
        <div class="avatar accepted-{{acceptGame}}" [ngStyle]="{'background-image': 'url(' + user?.avatar_url + ')'}"></div>
        <p>VS</p>
        <div class="avatar accepted-{{oponentAccepted}}" [ngStyle]="{'background-image': 'url(' + oponent?.avatar_url + ')'}" *ngIf="oponent !== null"></div>
        <div class="options">
            <button class="buton button-primary" (click)="onAccept()">Prihvati</button>
            <button class="buton button-danger" (click)="onDecline()">Odbij</button>
            <button class="buton button-danger" (click)="onExit()">Izadji</button>
        </div>
        
    </div>
</div>
<div class="play" *ngIf="bothAccepted">
    <play-component [room]="room" (onTournamentFinish)="tournamentFinish($event)">

    </play-component>
</div>

