
<div class="page-content modal-contribute" *ngIf="questionType === 'MODAL'">
    <div class="banner">
        <h5>Postavite pitanje drugim takmicarima</h5>
    </div>
    <div class="flex-wrapper pick-category">
        <button class="button-primary" title="Samo pitanje sa odgovorom" (click)="changeType('REGULAR')">Text pitanje</button>
        <button class="button-primary" title="Sa slikom" (click)="changeType('PICTURE')">Pitanje sa slikom</button>
        <button class="button-primary" disabled title="Sa slovima">Pitanje sa slovima (uskoro)</button>
    </div>

</div>

<div class="page-content contribute" *ngIf="questionType === 'PICTURE'">
    <add-image-question [categories]="categories"
                        (uploaded)="onUpload()"
                        (canceled)="onCancel()"></add-image-question>
</div>

<div class="page-content contribute" *ngIf="questionType === 'REGULAR'">
    <add-question-stepper [categories]="categories"
                         (uploaded)="onUpload()"
                         (canceled)="onCancel()"></add-question-stepper>
</div>

<div class="page-content contribute" *ngIf="questionType === 'WORD'">
    <add-word-question (uploaded)="onUpload()"
                        (canceled)="onCancel()"></add-word-question>
</div>
