@import '../../assets/abstract/variables';

.page-content {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;

    @media screen and (min-width: 901px) {
        padding: 30px 100px;
    }

    .form-row {
        text-align: center;
    }

    textarea {
        width: 100%;
        margin-bottom: 40px;
        max-height: 160px;
        color: $primary-blue;
    }
}

.contribute{
    justify-content: center;
    position: fixed;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.7);
}

.mt-2 {
    margin-top: 20px;
}

.banner {
    max-width: 400px;
    width: 90%;
    margin: -40px auto 0 auto;
    background-image: url('../../assets/images/new-theme/question-board.png');
    background-size: 100% 100%;
    padding: 30px 10px;
    z-index: 10;

    h5 {
        text-align: center;
    }
}

.pick-category {
    max-width: 400px;
    margin: 0px auto 0 auto;
    width: 90%;
    height: auto;
    background-image: url('../../assets/images/new-theme/question-board.png');
    background-size: 100% 100%;
    padding: 40px 10px;
    z-index: 8;

    &.flex-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            margin-bottom: 10px;
            min-width: 210px;
            padding: 0px 25px;
            height: 60px !important;
            font-size: 12px;
            color: rgb(0, 0, 0);
        }
    }
}

.modal-contribute {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    justify-content: center;
    flex-direction: column;
    display: flex;
    z-index: 1000;
    top: 0;
    background-color: rgba(31, 31, 31, 0.8);
}

.blue-heading{
    color: brown;
}